[submodule "PrototypeOne/ROS2/ros2_ws/src/ms5837_bar30"]
	path = PrototypeOne/ROS2/ros2_ws/src/ms5837_bar30
	url = https://github.com/juiyloki/ms5837_bar30
[submodule "PrototypeOne/ROS2/ros2_ws/src/onewiretemp"]
	path = PrototypeOne/ROS2/ros2_ws/src/onewiretemp
	url = https://github.com/juiyloki/onewiretemp
