[submodule "PrototypeOne/ROS2/ros2_ws/src/bar30_ms5837_publisher"]
	path = PrototypeOne/ROS2/ros2_ws/src/bar30_ms5837_publisher
	url = https://github.com/tasada038/ms5837_bar_ros
[submodule "PrototypeOne/ROS2/ros2_ws/src/onewire_temp_publisher"]
	path = PrototypeOne/ROS2/ros2_ws/src/onewire_temp_publisher
	url = https://github.com/MoffKalast/onewiretemp
